<nav class="navbar bg-body-tertiary d-flex">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">ImgUpload</a>
      <div>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
      </div>
  
    </div>
  </nav>